<div class="quiz-container" *ngIf="!isQuizCompleted && selectedQuiz"> 
  <!-- Affiche les questions tant que le quiz n'est pas terminé -->
  <div class="quiz-content">
    <h1>{{ selectedQuiz.title }}</h1>
    <div *ngIf="currentQuestionIndex < selectedQuiz.questions.length">
      <p><strong>Question {{ currentQuestionIndex + 1 }}: {{ selectedQuiz.questions[currentQuestionIndex].question }}</strong></p>

      <!-- Afficher les options pour les types 'single choice' -->
      <div *ngIf="selectedQuiz.questions[currentQuestionIndex].type === 'single choice'">
        <label *ngFor="let option of selectedQuiz.questions[currentQuestionIndex].options">
          <input type="radio" [(ngModel)]="selectedAnswers[currentQuestionIndex]" [value]="option.label || option">
          {{ option.label || option }}
        </label>
      </div>

      <!-- Afficher les options pour les types 'multiple choice' -->
      <div *ngIf="selectedQuiz.questions[currentQuestionIndex].type === 'multiple choice'">
        <label *ngFor="let option of selectedQuiz.questions[currentQuestionIndex].options">
          <input type="checkbox" [checked]="selectedAnswers[currentQuestionIndex]?.includes(option.label || option)" (change)="onMultipleChoiceChange($event, option.label || option)">
          {{ option.label || option }}
        </label>
      </div>

      <!-- Afficher les options pour les types 'true/false' -->
      <div *ngIf="selectedQuiz.questions[currentQuestionIndex].type === 'true/false'">
        <label>
          <input type="radio" [(ngModel)]="selectedAnswers[currentQuestionIndex]" value="true"> True
        </label>
        <label>
          <input type="radio" [(ngModel)]="selectedAnswers[currentQuestionIndex]" value="false"> False
        </label>
      </div>

      <!-- Afficher un champ texte pour les types 'short answer' -->
      <div *ngIf="selectedQuiz.questions[currentQuestionIndex].type === 'short answer'">
        <label>
          <input type="text" [(ngModel)]="selectedAnswers[currentQuestionIndex]" placeholder="Enter your answer">
        </label>
      </div>

      <!-- Bouton pour passer à la question suivante -->
      <button nz-button nzType="primary" *ngIf="currentQuestionIndex < selectedQuiz.questions.length - 1" (click)="nextQuestion()">Next</button>
      <button nz-button nzType="primary" *ngIf="currentQuestionIndex === selectedQuiz.questions.length - 1" (click)="finishQuiz(userId)">Submit</button>
    </div>
  </div>
</div>

<!-- Afficher les résultats une fois le quiz terminé -->
<nz-result *ngIf="isQuizCompleted" nzTitle="Résultats du Quiz"></nz-result>

<div class="quiz-details" *ngIf="isQuizCompleted">
  <p>Score: {{ quizResults?.scoreString }}</p>
  <p>Pourcentage: {{ quizResults?.percentage }}</p>
  <p>Performance: {{ quizResults?.performance }}</p>

  <p>Réponses données par l'utilisateur:</p>
  <ul *ngIf="correctAnswers?.length">
    <li *ngFor="let answer of correctAnswers">
      <p [ngClass]="{'incorrect-answer': !answer.isCorrect}">
        <strong>{{ answer.question }}:</strong>
        <span *ngIf="!Array.isArray(answer.correctAnswer)">
          {{ answer.learnerAnswer }}
        </span>
        <ul *ngIf="Array.isArray(answer.correctAnswer)">
          <li *ngFor="let ans of answer.learnerAnswer">{{ ans }}</li>
        </ul>
        <!-- Si la réponse est incorrecte, affichage en rouge -->
        <span *ngIf="!answer.isCorrect" class="correct-info">
          (Réponse correcte: {{ answer.correctAnswer }})
        </span>
    </li>
  </ul>
</div>



